.home .dir-head {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  word-break: break-all;
}
.home .dir-head > .dir-actions {
  display: flex;
}
.home .dir-head > .dir-actions > a {
  text-decoration: none;
  color: #333;
  padding: 0.25em 0.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
  gap: 0.5em;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.home .dir-head > .dir-actions > a:hover {
  background-color: #f3f3f3;
  color: #007bff;
}
.home ul.res-list {
  padding: 0px;
  list-style: none;
  margin-bottom: 0;
}
.home ul.res-list > li {
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
}
.home ul.res-list > li:empty {
  display: none;
}
.home ul.res-list > li:hover {
  background-color: #f3f3f3;
}
.home ul.res-list > li.file {
  padding-left: 1em;
}
.home ul.res-list > li .icon-dir {
  width: 1rem;
}
.home ul.res-list > li .sub-name {
  font-size: 0.6em;
  font-style: italic;
  color: #a4a4a4;
}
.home ul.res-list > li a {
  text-decoration: none;
}
.home ul.res-list > li a.detail-link.visited {
  color: #86b7fe;
  font-style: italic;
}
@media (max-width: 720px) {
  .home ul.res-list > li a.detail-link, .home ul.res-list > li a.dir-link {
    word-break: break-all;
  }
}
